@page "/reservations/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Reservation</h3>
<hr />
<br />

<EditForm Model="@reservation" OnValidSubmit="CreateReservation">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Number of People: </label>
        <div>
            <InputText @bind-Value="@reservation.People" class="form-control" />
            <ValidationMessage For="@(() => reservation.People)" />
        </div>
    </div>
    <div class="form-group">
        <label>Date: </label>
        <div>
            <InputDate @bind-Value="@reservation.ReserveDateTime" class="form-control" />
            <ValidationMessage For="@(() => reservation.ReserveDateTime)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-block">
        Create Review
    </button>
</EditForm>

@code {
    Reservation reservation = new Reservation();

    private async Task CreateReservation()
    {
        await _client.PostAsJsonAsync(Endpoints.ReservationsEndpoint, reservation);
        _navManager.NavigateTo("/reservations/");
    }
}
