<EditForm Model="@Reservation" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Number of People: </label>
        <div>
            <InputText @bind-Value="@Reservation.People" class="form-control" />
            <ValidationMessage For="@(() => Reservation.People)" />
        </div>
    </div>
    <div class="form-group">
        <label>Date: </label>
        <div>
            <InputDate @bind-Value="@Reservation.ReserveDateTime" class="form-control" />
            <ValidationMessage For="@(() => Reservation.ReserveDateTime)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
</EditForm>

@code {

    [Parameter] public Reservation Reservation { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}
