@inject HttpClient _client

<EditForm Model="@fivePeopleReservation" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Customer Name: </label>
            <div>
                <InputText @bind-Value="@fivePeopleReservation.Name" class="form-control" />
                <ValidationMessage For="@(() => fivePeopleReservation.Name)" />
            </div>
        </div>
        <div class="form-group">
            <label>Restaurant Name: </label>
            <div>
                <InputSelect @bind-Value="@fivePeopleReservation.RName" class="form-control">
                    <option value="">--Select Restaurant--</option>
                    @if (Restaurants != null)
                    {
                        foreach (var restaurant in Restaurants)
                        {
                            <option value="@restaurant.Name">@restaurant.Name</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(()=> fivePeopleReservation.RName)" />
            </div>
        </div>
    </fieldset>
    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }

    <BackToList Target="fivepeoplereservations" />
</EditForm>

@code {
    [Parameter] public FivePeopleReservation fivePeopleReservation { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public bool Disabled { get; set; } = false;

    private IList<Restaurant> Restaurants;

    protected async override Task OnInitializedAsync()
    {
        Restaurants = await _client.GetFromJsonAsync<List<Restaurant>>($"{Endpoints.RestaurantsEndpoint}");

    }
}
